<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="AromaCafeCliente.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AromaCafeCliente.Properties.Settings>
            <setting name="languageCode" serializeAs="String">
                <value>es-MX</value>
            </setting>
        </AromaCafeCliente.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEmployeeManager" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IEmployeeManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILogInManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IProductManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8081/EmployeeManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEmployeeManager"
                contract="AromaCafeService.IEmployeeManager" name="NetTcpBinding_IEmployeeManager">
                <identity>
                    <userPrincipalName value="VICTUS-DUAA\daur0" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8081/LogInManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ILogInManager" contract="AromaCafeService.ILogInManager"
                name="NetTcpBinding_ILogInManager">
                <identity>
                    <userPrincipalName value="VICTUS-DUAA\daur0" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8081/ProductManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IProductManager" contract="AromaCafeService.IProductManager"
                name="NetTcpBinding_IProductManager">
                <identity>
                    <userPrincipalName value="VICTUS-DUAA\daur0" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>